.background-img{
    position: absolute;
    top: 0;
    height: 72vh;
    width: 100vw;
    z-index: -1000;
    overflow: hidden;
}
.background-img img{
    object-fit: cover;
}
@media screen and (max-width:425px){
    .background-img{
        height: 100vh;
    }
}