
.contact{
    display: flex;
    width: 65vw;
    margin: 0 auto;
}
.contact-right{
  margin-top: 2rem;
    width: 100%;
}
.contact-left{
   position: relative;
    width: 100%;
    background-image: url('../Assets/image-2.jpg');
    padding: 1.3rem;
}
.contact-right img {
    width: 80%;
}
.form-container{
  width: 90%;
margin:0 auto;
 margin-top: 3.5rem; 
}
.form-container h2,h5{
  color:#fff;
}
.form-group {
  margin-bottom: 20px;
  display: flex;
}
.form-input{
  width: 50%;
}
::placeholder {
  color: #c9c4c4;
}
input[type='text']{
  
  outline:none;
    width: 80%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: transparent;
    color: #fff;
}
textarea{
  width: 90%;
  min-height: 5.5rem;
  padding: 10px;
  outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
    background: transparent;
    color: #fff;
}
.contact-info{
  display: flex;

}
.contact-info p{
  padding:0 4rem;
  color: #fff;
}
.email-info{
  border-left: 1px solid #c9c4c4;
}
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2.5rem;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
 
  @media screen and (max-width:1024px) {
    .contact{
      
      width: 95vw;
    
  }
  .contact-left{
   
     padding: 0px;
 }
  }  
  @media screen and (max-width:425px) {
    .contact{
        display: flex;
        width: 95vw;
      
        flex-direction: column-reverse;
        margin: 0 auto;
    }  
    .contact-info p{
      padding:0 1rem;
      color: #fff;
    }
  }
  .contact-abs {
    position: absolute;
    display: flex;
    justify-content: space-around;
   
    width: 100%;
  }
  /* .contact-abs .round:nth-child(odd){
    
    width: 0.5rem;
    color: aquamarine;
    height: 0.5rem;
    background-color: aqua;
    border-radius: 50%;
    animation: ball-lighting 10s ease-in-out infinite;
  } */
    /* .contact-abs .round:nth-child(even) {
      animation: ball-lightingx 10s ease-in-out 4s infinite;
  
    } */
  @keyframes ball-lighting {
    0%{
      transform: translateY(0px);
      opacity: 0;

    }
    20%{
      transform: translateY(-20px);
      opacity: 1;

    }
    30%{
      transform: translateY(-30px);
      opacity: 0;

    }
    40%{
      transform: translateY(-40px);
      opacity: 1;

    }
    50%{
      transform: translateY(-20px);
      opacity: 0;

    }
    100%{
     transform: translateY(-40);
      opacity: 1;

    }
  }
  @keyframes ball-lightingx {
    0%{
      transform: translateX(0px);
      opacity: 0;
      top: 0;

    }
    20%{
      transform: translateX(-20px);
      opacity: 1;

    }
    30%{
      transform: translateY(-80px);
      opacity: 0;

    }
    40%{
      transform: translateX(-40px);
      opacity: 1;

    }
    50%{
      transform: translateY(-120px);
      opacity: 0;

    }
    100%{
    top: 15px;
      opacity: 1;

    }
  }