.nav-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 4rem;
    z-index: 1000;
    
}
.menubtn{
    display: none;
}
.mob-navitems{
    display: none;
    top: 20px;
    background-color: antiquewhite;
}
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items li{
    margin: 1rem;
   padding: 1rem;
   font-weight: bold;
    border-radius: 0.5rem;
    transition: 0.3s;
    cursor: pointer;
}
.nav-items li:hover{
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    color: rgb(250, 251, 251);

}

/* media queries */
@media screen and (max-width:768px){
    .nav-items{
        display: none;
    }
    .menubtn{
        display: block;
    }
}